<table mat-table [dataSource]="data" class="mat-elevation-z8">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">{{ element.position }}</td>
  </ng-container>

  <ng-container matColumnDef="clubLogo">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">{{ element.clubLogo }}</td>
  </ng-container>

  <ng-container matColumnDef="clubName">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.clubName }}</td>
  </ng-container>

  <ng-container matColumnDef="gamesPlayed">
    <th mat-header-cell *matHeaderCellDef>Games</th>
    <td mat-cell *matCellDef="let element">{{ element.gamesPlayed }}</td>
  </ng-container>

  <ng-container matColumnDef="gamesWon">
    <th mat-header-cell *matHeaderCellDef>W</th>
    <td mat-cell *matCellDef="let element">{{ element.gamesWon }}</td>
  </ng-container>

  <ng-container matColumnDef="gamesLost">
    <th mat-header-cell *matHeaderCellDef>L</th>
    <td mat-cell *matCellDef="let element">{{ element.gamesLost }}</td>
  </ng-container>

  <ng-container matColumnDef="gamesDraw">
    <th mat-header-cell *matHeaderCellDef>D</th>
    <td mat-cell *matCellDef="let element">{{ element.gamesDraw }}</td>
  </ng-container>

  <ng-container matColumnDef="goalDifference">
    <th mat-header-cell *matHeaderCellDef>Goal Difference</th>
    <td mat-cell *matCellDef="let element">{{ element.goalDifference }}</td>
  </ng-container>

  <ng-container matColumnDef="points">
    <th mat-header-cell *matHeaderCellDef>Points</th>
    <td mat-cell *matCellDef="let element">{{ element.points }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
